<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <p id="notice">
            <%= notice %>
        </p>
		
		<h1 class="page-header bg-warning">
		    Editing Note
		</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @note %> | <%= link_to 'Back', notes_path %>

    </div>
</div>