<br /><br /><br />
<div class="row">
	<div class="col-lg-8 col-lg-offset-3">
		
		<h1 class="page-header bg-warning">
			New Note
		</h1>

			<%= render 'form' %>

			<%= link_to 'Back', notes_path %>
	</div>
</div>
