<p><br /><br /></p>
<div id="wrapper">
    <div id="sidebar-wrapper" role="navigation">
        <ul class="sidebar-nav">

            <li class="sidebar-brand">
                <a href="/audit_info/index"> INDEX </a>
            </li>

            <li data-toggle="collapse" data-target="#dashboard" class="collapsed active">
                <a href="#"> Dashboard &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-down"></span></a>
            
                <ul id="dashboard" class="sidebar collapse">
                    <li><a data-toggle="collapse" href="#dvc_dis_chart"><span class="text-info"> Devices Discovered </span></a></li>

                    <li><a data-toggle="collapse" href="#"><span class="text-info"> Device Not Discovered </span></a></li>

                    <li><a data-toggle="collapse" href="#"><span class="text-info"> Device Not Seen </span></a></li>

                    <li><a data-toggle="collapse" href="#"><span class="text-info"> Device's List </span></a></li>
                </ul>
            </li>

            <li data-toggle="collapse" data-target="#os_type" class="collapsed active"><a href="#"> OS Type's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-down"></span></a>
            
                <ul id="os_type" class="sidebar collapse">
            
                    <li>
                        <a data-toggle="collapse" href="#win_sys_chart"><span class="text-success"> Window System </span></a>
                    </li>
                
                    <li>
                        <a data-toggle="collapse" href="#lin_sys_chart"><span class="text-success"> Linux System </span></a>
                    </li>
                </ul>
            </li>    
            
            <li data-toggle="collapse" data-target="#discovery" class="collapsed active">
                <a href="#"> Discovery &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-down"></span></a>
            
                <ul id="discovery" class="sidebar collapse">
                    <li>
                        <a data-toggle="collapse" href="#"><span class="text-warning"> Active Directory </span></a>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#"><span class="text-warning"> Subnet </span></a>
                    </li>
                </ul>
            </li>    
            
            <li>
                <a href="#"> Add Device (Manually) </a>
            </li>

            <li>
                <a href="audit_info/info"> Information </a>
            </li>
            
            <li>
                <%= link_to("Notes", notes_path) %>
            </li>

        </ul>
    </div>
    
    <br /><br />
    
    <div id="page-wrapper page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                  <p id="notice">
                    <%= notice %>
                  </p>

					<h1 class="page-header bg-warning">
						New Note
					</h1>

					<%= render 'form' %>

					<%= link_to 'Back', notes_path %>
                </div>
            </div>    
        </div>
    </div>
</div>
