<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Modem 
        </h4>
    </div>
                        
    <div id="modem_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Modem  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="port">Port :-</label>
                    <label for="port">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="model">Model :-</label>
                    <label for="model">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="country">Country :-</label>
                    <label for="country">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="device_id">Device ID :-</label>
                    <label for="device_id">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="type">Type :-</label>
                    <label for="type">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="manufacturer">Manufacturer :-</label>
                    <label for="manufacturer">  </label>
                </div>
            </form>
        </div>
    </div>
</div>