<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Optical Drive 
        </h4>
    </div>
                        
    <div id="optical_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Optical Drive  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="optical_drive_caption">Caption :-</label>
                    <label for="optical_drive_caption">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="optical_drive_model">Model :-</label>
                    <label for="optical_drive_model">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="optical_drive_device_id">Device ID :-</label>
                    <label for="optical_drive_device_id">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="optical_drive_mount_point">Mount Point :-</label>
                    <label for="optical_drive_mount_point">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="optical_drive_serial">Serial :-</label>
                    <label for="optical_drive_serial">  </label>
                </div>
            </form>
        </div>
    </div>
</div>