<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#system_detail">
                <span class="text-primary">Summary</span>
            </a> 
        </h4>
    </div>
                        
    <div id="system_detail" class="panel-collapse collapse">
        <div class="panel-body">

            <!--  Form for System  -->
            <form class="form-inline" role="form">

                <div class="form-group col-sm-4">
                    <label for="timestamp">Timestamp :-</label>
                    <label id="timestamp">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="uuid">UUID :-</label>
                    <label id="uuid">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hostname">Hostname :-</label>
                    <label for="hostname">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="domain">Domain :-</label>
                    <label for="domain">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="description">Description :-</label>
                    <label for="description">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="type">Type :-</label>
                    <label for="type">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="icon">Icon :-</label>
                    <label for="icon">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="os-group">OS-Group :-</label>
                    <label for="os-group">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="os-family">OS-Family :-</label>
                    <label for="os-family">  </label>
                </div>
                                            
                <div class="form-group col-sm-4">
                    <label for="os-name">OS-Name :-</label>
                    <label for="os-name">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="os-Version">OS-Version :-</label>
                    <label for="os-Version">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="serial">Serial :-</label>
                    <label for="serial">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="Model">Model :-</label>
                    <label for="Model">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="manufacturer">Manufacturer :-</label>
                    <label for="manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="uptime">Uptime :-</label>
                    <label for="uptime">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="form-factor">Form-Factor :-</label>
                    <label for="form-factor">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="pc-os-bit">OS-Bit :-</label>
                    <label for="pc-os-bit">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="pc-memory">Memory :-</label>
                    <label for="pc-memory">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="pc-num-processor">No. Processor :-</label>
                    <label for="pc-num-processor">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="pc_date_os_installation">OS Installation Date :-</label>
                    <label for="pc_date_os_installation">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="man_org_id">man_org_id :-</label>
                    <label for="man_org_id">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="system_id">System ID :-</label>
                    <label for="system_id">  </label>
                </div>
            </form>
        </div>
    </div>
</div>