<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            BIOS 
        </h4>
    </div>
                        
    <div id="bios_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">
    
            <!--  Form for Bios  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="bios_description">Description :-</label>
                    <label for="bios_description">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="bios_manufacturer">Manufacturer :-</label>
                    <label for="bios_manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="bios_serial">Serial :-</label>
                    <label for="bios_serial">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="bios_version">Version :-</label>
                    <label for="bios_version">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="bios_asset_tag">Asset Tag :-</label>
                    <label for="bios_asset_tag">  </label>
                </div>
            </form>
        </div>
    </div>
</div>