<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Hard Disk 
        </h4>
    </div>
                        
    <div id="hard_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Hard Disk  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="hard_drive_caption">Caption :-</label>
                    <label for="hard_drive_caption">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_index">Index :-</label>
                    <label for="hard_drive_index">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_interface_type">Interface Type :-</label>
                    <label for="hard_drive_interface_type">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_manufacturer">Manufacturer :-</label>
                    <label for="hard_drive_manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_model">Model :-</label>
                    <label for="hard_drive_model">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_serial">Serial :-</label>
                    <label for="hard_drive_serial">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_size">Size :-</label>
                    <label for="hard_drive_size">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_device_id">Device ID :-</label>
                    <label for="hard_drive_device_id">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_partitions">Partitions :-</label>
                    <label for="hard_drive_partitions">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_status">Status :-</label>
                    <label for="hard_drive_status">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_firmware">Firmware :-</label>
                    <label for="hard_drive_firmware">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="hard_drive_scsi_logical_unit">SCSI Logical Unit :-</label>
                    <label for="hard_drive_scsi_logical_unit">  </label>
                </div>
            </form>
        </div>
    </div>
</div>    