<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Log's 
        </h4>
    </div>
                        
    <div id="log_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Logs  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="log_name">Name :-</label>
                    <label for="log_name">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="log_file_name">File Name :-</label>
                    <label for="log_file_name">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="log_file_size">File Size :-</label>
                    <label for="log_file_size">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="log_max_file_size">Max File Size :-</label>
                    <label for="log_max_file_size">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="log_overwrite">Overwrite :-</label>
                    <label for="log_overwrite">  </label>
                </div>
            </form>
        </div>
    </div>
</div>