<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Memory 
        </h4>
    </div>
                        
    <div id="mem_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Memory  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="bank">Bank :-</label>
                    <label for="bank">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="type">Type :-</label>
                    <label for="type">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="form_factor">Form Factor :-</label>
                    <label for="form_factor">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="detail">Detail :-</label>
                    <label for="detail">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="capacity">Capacity :-</label>
                    <label for="capacity">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="speed">Speed :-</label>
                    <label for="speed">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="tag">Tag :-</label>
                    <label for="tag">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="serial">Serial No. :-</label>
                    <label for="serial">  </label>
                </div>
            </form>
        </div>
    </div>
</div>