<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Monitor 
        </h4>
    </div>
                        
    <div id="mntr_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Monitor  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="manufacturer">Manufacturer :-</label>
                    <label for="manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="device_id">Device ID :-</label>
                    <label for="device_id">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="manufacturer_date">Date of Manufacture :-</label>
                    <label for="manufacturer_date">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="model">Model :-</label>
                    <label for="model">  </label>
                </div>
                
                <div class="form-group col-sm-4">
                    <label for="serial">Serial :-</label>
                    <label for="serial">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="edid_version">Version :-</label>
                    <label for="edid_version">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="aspect_ratio">Aspect Ratio :-</label>
                    <label for="aspect_ratio">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="size">Size :-</label>
                    <label for="size">  </label>
                </div>
            </form>
        </div>
    </div>
</div>