<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Motherboard 
        </h4>
    </div>
                        
    <div id="mother_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Motherboard  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="manufacturer">Manufacturer :-</label>
                    <label for="manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="model">Model :-</label>
                    <label for="model">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="serial">Serial :-</label>
                    <label for="serial">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_slot">Processor Slot :-</label>
                    <label for="processor_slot">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_type">Processor Type :-</label>
                    <label for="processor_type">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="memory_slot">Memory Slot :-</label>
                    <label for="memory_slot">  </label>
                </div>
            </form>
        </div>
    </div>
</div>