<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Network Card 
        </h4>
    </div>
                        
    <div id="network_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Network Card  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="net_mac_address">MAC Address :-</label>
                    <label for="net_mac_address">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="net_manufacturer">Manufacturer :-</label>
                    <label for="net_manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_model">Model :-</label>
                    <label for="net_model">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="net_description">Description :-</label>
                    <label for="net_description">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_ip_enabled">IP Enabled :-</label>
                    <label for="net_ip_enabled">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_index">Index :-</label>
                    <label for="net_index">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_connection_id">Connection ID :-</label>
                    <label for="net_connection_id">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_connection_status">Connection Status :-</label>
                    <label for="net_connection_status">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_speed">Speed :-</label>
                    <label for="net_speed">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_adapter_type">Adapter Type :-</label>
                    <label for="net_adapter_type">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dhcp_enabled">DHCP Enabled :-</label>
                    <label for="net_dhcp_enabled">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dhcp_server">DHCP Server :-</label>
                    <label for="net_dhcp_server">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dhcp_lease_obtained">DHCP Lease Obtained :-</label>
                    <label for="net_dhcp_lease_obtained">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dhcp_lease_expires">DHCP Lease Expires :-</label>
                    <label for="net_dhcp_lease_expires">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dns_host_name">DNS Host Name :-</label>
                    <label for="net_dns_host_name">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dns_domain">DNS Domain :-</label>
                    <label for="net_dns_domain">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dns_domain_reg_enabled">DNS Domain Reg Enabled:-</label>
                    <label for="net_dns_domain_reg_enabled">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_dns_Server">DNS Server :-</label>
                    <label for="net_dns_Server">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_wins_primary">Wins Primary :-</label>
                    <label for="net_wins_primary">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_wins_secondary">Wins Secondary :-</label>
                    <label for="net_wins_secondary">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="net_wins_lmhosts_enabled">Wins LmHost Enabled :-</label>
                    <label for="net_wins_lmhosts_enabled">  </label>
                </div>
            </form>
        </div>
    </div>
</div>