<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Processor 
        </h4>
    </div>
                        
    <div id="processor_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Processor  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="processor_count">Count :-</label>
                    <label for="processor_count">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_cores">Cores :-</label>
                    <label for="processor_cores">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_logical">Logical :-</label>
                    <label for="processor_logical">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_socket">Socket :-</label>
                    <label for="processor_socket">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_description">Description :-</label>
                    <label for="processor_description">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_speed">Speed :-</label>
                    <label for="processor_speed">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_manufacturer">Manufacturer :-</label>
                    <label for="processor_manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_architecture">Architecture :-</label>
                    <label for="processor_architecture">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="processor_power_management_supported">Power Management Supported :-</label>
                    <label for="processor_power_management_supported">  </label>
                </div>
            </form>
        </div>
    </div>
</div>