<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Routes 
        </h4>
    </div>
                        
    <div id="routes_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Routes  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="destination">Destination :-</label>
                    <label for="destination">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="mask">Mask :-</label>
                    <label for="mask">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="metric">Metric :-</label>
                    <label for="metric">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="next_hop">Next Hop :-</label>
                    <label for="next_hop">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="protocol">Protocol :-</label>
                    <label for="protocol">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="type">Type :-</label>
                    <label for="type">  </label>
                </div>
            </form>
        </div>
    </div>
</div>
    