<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Service's 
        </h4>
    </div>
                        
    <div id="service_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">


            <!--  Form for Service  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="service_description">Description :-</label>
                    <label for="service_description">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_display_name">Display Name :-</label>
                    <label for="service_display_name">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_name">Name :-</label>
                    <label for="service_name">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_path_name">Path Name :-</label>
                    <label for="service_path_name">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_started">Started :-</label>
                    <label for="service_started">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_start_name">Start Name :-</label>
                    <label for="service_start_name">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_state_mode">State Mode :-</label>
                    <label for="service_state_mode">  </label>
                </div>

            	<div class="form-group col-sm-4">
                    <label for="service_state">State :-</label>
                    <label for="service_state">  </label>
                </div>
            </form>
        </div>
    </div>
</div>