<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Share's 
        </h4>
    </div>
                        
    <div id="shares_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Shares  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="share_name">Name :-</label>
                    <label for="share_name">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="share_caption">Caption :-</label>
                    <label for="share_caption">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="share_path">Path :-</label>
                    <label for="share_path">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="share_size">Size :-</label>
                    <label for="share_size">  </label>
                </div>
            </form>
        </div>
    </div>
</div>