<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Software's 
        </h4>
    </div>
                        
    <div id="software_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Software Packages  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="software_name">Name :-</label>
                    <label for="software_name">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_version">Version :-</label>
                    <label for="software_version">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_location">Location :-</label>
                    <label for="software_location">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_uninstall">Uninstall :-</label>
                    <label for="software_uninstall">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_install_date">Installation Date :-</label>
                    <label for="software_install_date">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_publisher">Publisher :-</label>
                    <label for="software_publisher">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_install_source">Installation Source :-</label>
                    <label for="software_install_source">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_system_component">System Component :-</label>
                    <label for="software_system_component">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_url">URL :-</label>
                    <label for="software_url">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_email">Email :-</label>
                    <label for="software_email">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_comment">Comment :-</label>
                    <label for="software_comment">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_code_base">Code Base :-</label>
                    <label for="software_code_base">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_status">Status :-</label>
                    <label for="software_status">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_installed_by">Installed By :-</label>
                    <label for="software_installed_by">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="software_installed_on">Installed On :-</label>
                    <label for="software_installed_on">  </label>
                </div>
            </form>
        </div>
    </div>
</div>