<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Video Card 
        </h4>
    </div>
                        
    <div id="video_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Video  -->
            <form class="form-inline" role="form">
                <div class="form-group col-sm-4">
                    <label for="video_description">Description :-</label>
                    <label for="video_description">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="video_manufacturer">Manufacturer :-</label>
                    <label for="video_manufacturer">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="video_memory">Memory :-</label>
                    <label for="video_memory">  </label>
                </div>
            </form>
        </div>
    </div>
</divs>