<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Window's 
        </h4>
    </div>
                        
    <div id="windows_detail" class="panel-collapse collapse">
        <div class="panel-body bg-primary">

            <!--  Form for Windows  -->
            <form class="form-inline" role="form">

                <div class="form-group col-sm-4">
                    <label for="windows_build_number">Build No. :-</label>
                    <label for="windows_build_number">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="windows_user_name">User Name :-</label>
                    <label for="windows_user_name">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_client_site_name">Client Site Name :-</label>
                    <label for="windows_client_site_name">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="windows_domain_short">Domain :-</label>
                    <label for="windows_domain_short">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_workgroup">Workgroup :-</label>
                    <label for="windows_workgroup">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="windows_domain_controller_address">DC Address :-</label>
                    <label for="windows_domain_controller_address">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_domain_controller_name">DC Name :-</label>
                    <label for="windows_domain_controller_name">  </label>
                </div>
                                          
                <div class="form-group col-sm-4">
                    <label for="windows_domain_role">Domain Role :-</label>
                    <label for="windows_domain_role">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_part_of_domain">Part of Domain :-</label>
                    <label for="windows_part_of_domain">  </label>
                </div>
                                            
                <div class="form-group col-sm-4">
                    <label for="windows_id_number">ID No. :-</label>
                    <label for="windows_id_number">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_time_caption">Time Caption :-</label>
                    <label for="windows_time_caption">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_time_daylight">Time Daylight :-</label>
                    <label for="windows_time_daylight">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_boot_device">Bootable Device :-</label>
                    <label for="windows_boot_device">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_country_code">Country Code :-</label>
                    <label for="windows_country_code">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_organisation">Organization :-</label>
                    <label for="windows_organisation">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_language">Language :-</label>
                    <label for="windows_language">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_registered_user">Registered User :-</label>
                    <label for="windows_registered_user">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_service_pack">Service Pack :-</label>
                    <label for="windows_service_pack">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_version">Version :-</label>
                    <label for="windows_version">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_install_directory">Installed Directory :-</label>
                    <label for="windows_install_directory">  </label>
                </div>

                <div class="form-group col-sm-4">
                    <label for="windows_active_directory">Active Directory :-</label>
                    <label for="windows_active_directory">  </label>
                </div>
            </form>
        </div>
    </div>
</div>