<div class="container">
    <%= render 'layouts/carousel' %>
</div>
  
<br/><br/>


<div class="container">
	<p>
		<h4>
			DeepRoot Linux is a mature and intrepid GNU/Linux driven Pure Free Software Business. Founded by Abhas Abhinav on August 24, 2000, we are based out of Bangalore, India.
		</h4>
	</p>

		<br />

	<p>
		<h4>
			We conceive and develop Free Software products that are quick足-to足-deploy and easy足-to足-use. We enable businesses to use Free Software & GNU/Linux effectively, conveniently, quickly and at a very affordable cost.
			
			That's our forte !
		</h4>
	</p>

		<br />

	<p>
		<h4>
			We have come a long way since our inception. Our 'Expertise and Experience' on the GNU/Linux paradigm have enabled us to have global footprints taking us across geographies and verticals. Through our Solutions entailing Products, Value Added Services and Support Services, we have engagements with businesses of all shapes and sizes.
		</h4>
	</p>

		<br />

	<p>
		<h4>
			We aspire and work to truly Touch our customers' lives and make a significant positive difference to their businesses.
		</h4>
	</p>
</div>