<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
  			<div class="jumbotron">
    			<h2><span class="text-primary">deep 'O' audit</span></h2>      
       			<p class="divider"> </p>
       			<p>
    				It is a Asset Management Tool that helps to audit various client system connected to a network. The script runs on the client's machine and gathers the information and later it is parsed and sent to the server.

    				<br /><br />

    				You can try the way it works by pressing the <span class="text-primary">"Magic Button"</span>. <span class="text-danger"> For a complete trial please login or Sign-up if not registered</span>.

    			</p>
  			</div>
  		</div>
	</div>
</div>

<div class="container">
	<div class="row">
  		<div class="col-lg-6">
			<div id="page-wrapper">
   		  		<div class="panel panel-default">
					<div class="panel-heading">
			        	<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="text-info">For Windows</span></a></h4>
			    	</div>
			            
			    	<div id="collapseOne" class="panel-collapse collapse">
			      		<div class="panel-body bg-info">
			      			<p>
			      				The script can run on any window system be it XP, Windows 7 / 8 or Server. The script will upload your configurations on our server for a temporary period. Please accept the agreement for running the script and then press the button to download and run it.
			      			</p>

			      				<a href="dwnld_win">
			      			    	<input type="button" value="Audit Script-win" class="btn btn-primary btn-lg" />
			      				</a>
			        	</div>
			    	</div>
				</div>
	    	</div>
		</div>

		<div class="col-lg-6">
			<div id="page-wrapper">
   		 		<div class="panel panel-default">
					<div class="panel-heading">
			        	<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="text-danger">For Linux</span></a></h4>
			    	</div>
			            
			    	<div id="collapseTwo" class="panel-collapse collapse">
			      		<div class="panel-body bg-warning">
			                <p>
			      				The script can run on any linux or debian system. The script will upload your configurations on our server for a temporary period. Please accept the agreement for running the script and then press the button to download and run it.
			      			</p>
			      				
			      				<a href="dwnld_lin">
			      			        <input type="button" value="Audit Script-lin" class="btn btn-primary btn-lg" />	
			      			    </a>
			        	</div>
			    	</div>
				</div>
	    	</div>
		</div>
	</div>
</div>