<div class="container">
    <%= render 'layouts/carousel' %>
</div>
  
<br/><br/>

<div id="page-wrapper">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
         <div class="panel panel-default">
            <div class="panel-heading">
            	<p><h4>
            		<span class="text-primary">You just need a reason to contact us, we will give you umpteen reasons for us to stay connected!</span>
				</h4></p>
            </div>
         
			<div class="panel-body">
			    <div class="panel-group" id="accordion">

						   <!-- Contact Us  -->        
			        <div class="panel panel-default">
			           <div class="panel-heading">
			                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="text-danger">Contact us at</span></a>
			                </h4>
			            </div>
			            
			            <div id="collapseOne" class="panel-collapse collapse">
			                <div class="panel-body bg-primary">
			                	(+91) - 080 - 408 - 90000 
			                </div>

			            </div>
			        </div>
			        
			        		<!-- Visit Us  -->
			        <div class="panel panel-default">
			            <div class="panel-heading">
			               <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="text-success">Visit us at</span></a>
			                </h4>
			            </div>
			            
			            <div id="collapseTwo" class="panel-collapse collapse">
			                <div class="panel-body bg-danger">
			                	<p>
			 						<span class="text-info" >DeepRoot Linux Pvt. Ltd.</span> <br />
									#22, 13th Cross, <br />
									Jayamahal Extension, <br />
									Behind Coffee Day, Nandi Durga Road <br />
									Bangalore - 560 046 <br />
									India. 
								</p>
			                </div>
			            </div>
			        </div>

			        		<!-- Help or Support related queries  -->
			        <div class="panel panel-default">
			            <div class="panel-heading">
			               <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="text-primary">Help or Support related queries</span></a>
			                </h4>
			            </div>
			            
			            <div id="collapseThree" class="panel-collapse collapse">
			                <div class="panel-body bg-success">
			                	<h5> support@deeproot.in </h5>
			                </div>
			            </div>
			        </div>

			        		<!-- For Working with us  -->
			        <div class="panel panel-default">
			            <div class="panel-heading">
			               <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="text-success">For Working with us</span></a>
			                </h4>
			            </div>
			            
			            <div id="collapseFour" class="panel-collapse collapse">
			                <div class="panel-body bg-warning">
			                	<h5> play@deeproot.in </h5>
			                </div>
			            </div>
			        </div>

			        		<!-- Applying for a Student Project  -->
			        <div class="panel panel-default">
			            <div class="panel-heading">
			               <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="text-warning">Applying for a Student Project</span></a>
			                </h4>
			            </div>
			            
			            <div id="collapseFive" class="panel-collapse collapse">
			                <div class="panel-body bg-info">
			                	<h5> projects@deeproot.in </h5>
			                </div>
			            </div>
			        </div>

			        		<!-- For everything else or just about anything  -->
			        <div class="panel panel-default">
			            <div class="panel-heading">
			               <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="text-danger">For everything else or just about anything</span></a>
			                </h4>
			            </div>
			            
			            <div id="collapseSix" class="panel-collapse collapse">
			                <div class="panel-body bg-primary">
			                	<h5> start@deeproot.in </h5>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
</div>