<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#dvc_dis_chart">
                <span class="text-success">Device Discovered</span>
            </a>
        </h4>
    </div>
                        
    <div id="dvc_dis_chart" class="panel-collapse collapse">
        <div class="panel-body">
            <p>
                <span class="text-info">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Icon</th>
                                    <th>User</th>
                                    <th>OS-Group</th>
                                    <th>OS</th>
                                    <th>IP Add</th>
                                    <th>MAC Add</th>
                                    <th>Version</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                            </tbody>
                        </table>                    
                </span>
            </p>
        </div>
    </div>
</div>
