<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="text-success">Linux's System Discovered</span></a>
        </h4>
    </div>
                        
    <div id="lin_sys_chart" class="panel-collapse collapse">
        <div class="panel-body bg-danger">
            <p>
                <span class="text-info">
                    UNDER CONSRTRUCTION
                </span>
            </p>
        </div>
    </div>
</div>
