<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#win_sys_chart">
                <span class="text-success">Window's System Discovered</span>
            </a>
        </h4>
    </div>
                        
    <div id="win_sys_chart" class="panel-collapse collapse">
        <div class="panel-body bg-danger">
            <p>
                <span class="text-info">
                    UNDER CONSRTRUCTION
                </span>
            </p>
        </div>
    </div>
</div>
