<p><br /><br /></p>
    
    <br /><br />
    
    <div id="page-wrapper page-content-wrapper">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-lg-12">
                    <%= render 'audit_info/charts/device_dis_chart' %>
                </div>
            </div>    
                
            <div class="row">
                <div class="col-lg-6">
                    <%= render 'audit_info/charts/win_sys_chart' %>
                </div>
            
                <div class="col-lg-6">
                    <%= render 'audit_info/charts/lin_sys_chart' %>
                </div>
            </div>    

            <%= yield %>
            
        </div>
    </div>
</div>