<div class="row">
    <div class="col-lg-6">
        <%= render 'audit_info/charts/win_sys_chart' %>
    </div>
            
    <div class="col-lg-6">
        <%= render 'audit_info/charts/lin_sys_chart' %>
    </div>
</div>    