<br /><br />

<div class="container">
	<div class="row">
		<div class="col-lg-10">
	        <%= render 'info/forms/software_form' %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10">
	        <%= render 'info/forms/service_form' %>
		</div>
	</div>
</div>

<% if $sys.os_group == "Windows" then %>
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
		        <%= render 'info/forms/software_key_form' %>
			</div>
		</div>
	</div>
<% end %>