<footer>
	<div class="container-fluid">
		<div class="col-sm-12">
	    	<span bgcolor="black">
	    		<h4>
	    			Copyright © 2015, Deeproot Linux -  Getting GNU/Linux to work for you. Faster. Better. Today. Everyday.
	    		</h4>
	    	</span>
	    </div>
    </div>
</footer>
